body {
    min-height: 100vh;
    background: linear-gradient(135deg, #5887da, #1e2844);;
    color: #ffffff;
    font-family: 'Fira Code', monospace;
    text-align: center;
    padding-top: 4em
}
h1 {
    font-weight: 100;
}
button, input, textarea {
    font-family: 'Fira Code', monospace;
    box-shadow: none;
    border: 1px solid #ffffff;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    user-select: none;
    outline: none;
    transition: all .1s ease-in;
}
input, textarea {
    background-color: #ffffff;
    color: #1e2844;
}
button {
    background-color: transparent;
    color: #ffffff;
    margin-top: 2em;
}
button:hover {
    border: 1px solid #5887da;
}
button:focus {
    animation-name: pulse;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
::placeholder {
    color: #5887da;
}
@keyframes pulse {
    0%   { border-color: #ffffff; }
    50%  { border-color: #5887da; }
    100% { border-color: #ffffff; }
}
.logo {
    font-family: 'Fira Code', monospace;
    font-size: 3em;
    line-height: 0.71em;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
}