<!doctype html>
<head>
    <title>Jichu</title>  
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="logo">
        &#9633;&#9633;&#9633;<br/>&#9633; &#9633;<br/>&#9633;&#9633;&#9633;<br/><br/>Jichu
    </div>
    <form action="/deploy" method="post">
        Node address
        <br/>
        <input name="address" placeholder="diffusion.fetch.ai"/>
        <br/><br/>
        Contract
        <br/>
        <textarea name="contract" rows="10" cols="60" placeholder="Etch code"></textarea><br>
        <button name="deploy" type="submit">Deploy</button>
    </form>
</body>